# version: '3.8'

services:
#  app:
#    build:
#      context: .
#      dockerfile: Dockerfile
#    ports:
#      - "8080:8080"
#    environment:
#      # - SPRING_PROFILES_ACTIVE=docker
#      # - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/notification_db
#      # - SPRING_DATASOURCE_USERNAME=postgres
#      # - SPRING_DATASOURCE_PASSWORD=postgres
#    depends_on:
#      - postgres
#    networks:
#      - notification-network

  postgres:
    image: postgres:16-alpine
    environment:
      - POSTGRES_DB=notification_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - notification-network
  adminer:
    image: adminer
    restart: always
    ports:
      - "16200:8080"
    depends_on:
      - postgres
    networks:
      - notification-network

networks:
  notification-network:
    driver: bridge
volumes:
  postgres_data:
