spring:
  application:
    name: notification-service
  config:
    import:
      - 'database.yml'
      - 'notification_template.yaml'
  threads:
    virtual:
      enabled: ${ENABLED_VIRTUAL_THREAD:true}

management:
  health:
    defaults:
      enabled: false
  server:
    port: ${MANAGEMENT_SERVER_PORT:8080}
  endpoints:
    web:
      base-path: /
      exposure:
        include:
          - prometheus
          - health
          - metrics
      path-mapping:
        health: /actuator/health
        prometheus: /actuator/prometheus
  endpoint:
    prometheus:
      enabled: true
    health:
      probes:
        enabled: true
      show-components: always
  metrics:
    distribution:
      percentiles-histogram:
        "http.server.requests": true
      percentiles:
        "http.server.requests": 0.5, 0.90, 0.95, 0.99

server:
  servlet:
    context-path: /api/notification-service

application:
  migration-app-notification-enable: true
  campaigns-app-notification-enable: true
  max-length-payload-log: 1000

logging:
  level:
    root: INFO
    feign: INFO
    com:
      finx: ${APPLICATION_LOG_LEVEL:INFO}

kafka:
  server: ${KAFKA_PLAINTEXT_SERVERS:localhost:9092}
  topics:
    ottMessageLogin: ${KAFKA_OTT_LOGIN:sit.ott.login}
  producers:
    - topic: ${KAFKA_OTT_LOGIN:sit.ott.login}
      ack: ${KAFKA_PRODUCER_ACK_NOTIFICATION:all}
      enableIdempotence: ${KAFKA_PRODUCER_ENABLE_IDEMPOTENCE_NOTIFICATION:true}
      retry: ${KAFKA_PRODUCER_RETRY_NOTIFICATION:5}
      maxInFlightRequestPerConnection: ${KAFKA_PRODUCER_MAX_REQUEST_PER_CONNECTION_NOTIFICATION:5}
      retryBackoffMs: ${KAFKA_PRODUCER_RETRY_BACKOFF_MS_NOTIFICATION:500}
      requestTimeoutMs: ${KAFKA_PRODUCER_REQUEST_TIMEOUT_MS_NOTIFICATION:10000}
      deliveryTimeoutMs: ${KAFKA_PRODUCER_DELIVERY_TIMEOUT_MS_NOTIFICATION:20000}
  consumers:
    internal:
      groupId: ${KAFKA_CONSUMER_GROUP_ID_INTERNAL_LOG:OTTInternalLogGroup}
      topic: ${KAFKA_CONSUMER_OTT_LOGIN:sit.ott.login}
    properties:
      heartbeat.interval.ms: 1000
      max.poll.interval.ms: 600000
      max.poll.records: 100

  protocol: ${KAFKA_PROTOCOL:PLAINTEXT}